.xyz{
    color: goldenrod;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#abc{
    color: blue;
    background-color: gold;
    font-size: x-large;
}
#asd{
    background-position: right;
}